<div class="bg">
    <div class="form-bg">
        <i class="fas fa-times fa-2x" (click)="close(popUp)"></i>
        <form>
            <div>
                <label>Title</label>
                <input name="title" type="text" placeholder="Post title" [(ngModel)]="titleInput"/>
            </div>
            <div>
                <label>Thought</label>
                <textarea name="body" [(ngModel)]="textInput"></textarea>
            </div>
            <button (click)="submit(titleInput, textInput)">Add Post</button>
        </form>
    </div>
</div>